# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [2]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [4]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [6]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [8]:
# Your code here:
normal_pokemon = pokemon[pokemon["Legendary"]==False]
legendary_pokemon = pokemon[pokemon["Legendary"]==True]

In [9]:
normal_pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [11]:
# Your code here:
mean_points_normal = normal_pokemon["Total"].mean()
std_points_normal = normal_pokemon["Total"].std()

In [12]:
mean_points_normal

417.21360544217686

In [13]:
std_points_normal

106.76041745713022

In [14]:
mean_points_legendary = legendary_pokemon["Total"].mean()
std_points_legendary = legendary_pokemon["Total"].std()

In [15]:
mean_points_legendary

637.3846153846154

In [16]:
std_points_legendary

60.93738905315346

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [18]:
# Libraries
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [19]:
points_legendary = legendary_pokemon["Total"]
points_legendary

156    580
157    580
158    580
162    680
163    780
      ...
795    600
796    700
797    600
798    680
799    600
Name: Total, Length: 65, dtype: int64

In [20]:
points_normal = normal_pokemon["Total"]
points_normal

0      318
1      405
2      525
3      625
4      309
      ...
787    494
788    304
789    514
790    245
791    535
Name: Total, Length: 735, dtype: int64

In [21]:
# Perform paired t-test
t_stat, p_value = st.ttest_ind(points_legendary, points_normal, equal_var=False)

print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.50f}") 
print()

# Significance level
alpha = 0.05

# Decision-Making
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis")
else:
    print("Reject the Null Hypothesis")

Test Statistic (t): 25.83
P-Value: 0.00000000000000000000000000000000000000000000009358

Reject the Null Hypothesis

What do you conclude from this test? Write your conclusions below.

In [23]:
# Your conclusions here: The total points for legendary and non-legendary Pokemon are not equal

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [25]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [26]:
pokemon["Type 1"].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [28]:
# Your code here:
water_pokemon_mean = pokemon[pokemon["Type 1"]=="Water"]["Total"].mean()
water_pokemon_std = pokemon[pokemon["Type 1"]=="Water"]["Total"].std()

In [29]:
water_pokemon_mean

430.45535714285717

In [30]:
water_pokemon_std

113.18826606431458

In [31]:
other_pokemon_mean = pokemon[pokemon["Type 1"] !="Water"]["Total"].mean()
other_pokemon_std = pokemon[pokemon["Type 1"] !="Water"]["Total"].std()

In [32]:
other_pokemon_mean

435.85901162790697

In [33]:
other_pokemon_std

121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [35]:
# Your code here:
# H0 : The mean of total points for water Pokemon are equal for water Pokemon to all non-water Pokemon
# H1 : The mean of total points for water Pokemon are equal for water Pokemon to all non-water Pokemon

In [36]:
water_pokemon = pokemon[pokemon["Type 1"]=="Water"]["Total"]
other_pokemon = pokemon[pokemon["Type 1"] !="Water"]["Total"]

In [37]:
# Perform paired t-test
t_stat, p_value = st.ttest_ind(water_pokemon, other_pokemon, alternative="two-sided")

print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.50f}") 
print()

# Significance level
alpha = 0.05

# Decision-Making
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis")
else:
    print("Reject the Null Hypothesis")

Test Statistic (t): -0.44
P-Value: 0.65871403174887932507886034727562218904495239257812

Fail to Reject the Null Hypothesis

Write your conclusion below.

In [39]:
# Your conclusions here: We can not reject that the mean of total points for water Pokemon are equal for water Pokemon to all non-water Pokemon

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [41]:
# Your code here:
# H0: The defense and attack scores are equal
# H1: The defense and attack scores are not equal

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

Describe the results of the test in the cell below.

In [43]:
# Perform paired t-test
t_stat, p_value = st.ttest_rel(pokemon.Attack, pokemon.Defense)

# ahora utilizamos el ttest rel, porque están relacionadas las variables, son DEPENDIENTES

print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.50f}") # 50f son 50 decimales
print()

# Significance level
alpha = 0.05

# Decision-Making
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis")
else:
    print("Reject the Null Hypothesis")

Test Statistic (t): 4.33
P-Value: 0.00001714030347935855799128106180528874347146484070

Reject the Null Hypothesis

In [44]:
# There are differences in the scores for defense and attack scores

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [46]:
# Perform paired t-test
t_stat, p_value = st.ttest_rel(pokemon["Sp. Atk"], pokemon["Sp. Def"])

# ahora utilizamos el ttest rel, porque están relacionadas las variables, son DEPENDIENTES

print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.50f}") # 50f son 50 decimales
print()

# Significance level
alpha = 0.05

# Decision-Making
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis")
else:
    print("Reject the Null Hypothesis")

Test Statistic (t): 0.85
P-Value: 0.39336859975481219819926081981975585222244262695312

Fail to Reject the Null Hypothesis

Describe the results of the test in the cell below.

In [48]:
# Your conclusions here: We can say that there are no difference between the mean of special defense and the mean of special attack

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [50]:
# Your code here:
# H0: Difference between the means of defense and attack is zero
# H1: Difference between the means of defense and attack is different from zero

pokemon_difference = pokemon["Attack"] - pokemon["Defense"]
mu = 0

t_stat, p_value = st.ttest_1samp(pokemon_difference, mu)
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.50f}")
print()
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis")
else:
    print("Reject the Null Hypothesis")

Test Statistic (t): 4.33
P-Value: 0.00001714030347935855799128106180528874347146484070

Reject the Null Hypothesis

In [51]:
# We can conclude that the difference in the mean of Attack and Defense is not equal to zero, so there's a difference in their means

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [ ]:
# H0: The variable legendary and those of type1 of pokemon are independent.
# H1: The variable legendary and those of type1 of pokemon are not independent.

In [53]:
crosstab_result = pd.crosstab(index=[(pokemon["Legendary"] == True)], columns=[(pokemon["Type 1"] == "Water")])
crosstab_result

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [54]:
from scipy.stats import chi2_contingency
chi2_stats, chi2_pvalue, _, _ = chi2_contingency(crosstab_result)

In [55]:
chi2_contingency(crosstab_result)

Chi2ContingencyResult(statistic=2.9429200762850503, pvalue=0.08625467249550949, dof=1, expected_freq=array([[632.1, 102.9],
       [ 55.9,   9.1]]))

In [56]:
chi2_pvalue

0.08625467249550949

Based on a 95% confidence, should we reject the null hypothesis?

In [60]:
# p-value > alpha (0.08 > 0.05) so we can not reject the null hypothesis (H0)
# There is no statistically significant evidence to suggest that there is a relationship between the variables